/* 這邊可以使用 @import 的方式，
將 CSS-reset 的功能獨立一個檔案 
@import CSS@规则，用于从其他样式表导入样式规则。*/
@import url("reset.css");
/*-----------------------*/
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* text-decoration: none; 不需要加在所有的元素上
如果只有 a 標籤需要使用該屬性，就套用在 a 標籤上即可，
套用在所有標籤 * 會造成網頁效能負擔。可以改為：
a {
  text-decoration: none; 
} */

a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
/*會建議能使用更符合 CSS 內容的方式進行命名
因為目前內容不多，但若內容增加可能就會導致使用上混亂，
會建議寫明，或建議能以標註的方式，
後續處理資料的人能有方向~。註:原th ts th-2 ts-2 修改*/
.h2-style-base{
    font-size: 32px;
    padding-bottom: 7px;
    border-bottom: 1px solid #000;
    margin-bottom: 16px;
    font-weight: bold;
}
.span-style-base{
    font-size: 24px;
    margin-left: 16px;
    vertical-align: top;
    font-weight: bold;
    color: #A00404;
}
.h2-style-dark-bg{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.span-style-dark-bg{
    font-size: 24px;
    margin-left: 16px;
    vertical-align: top;
    font-weight: bold;
}
.mb-24{
    margin-bottom: 24px;
}
.bg41{
    background: #415165;
}
/*-----------------------*/
.container{
    width: 1200px;
    margin: 0 auto;
}
.infomation{
    padding: 40px 0px 64px 0px;
}
.infomation h1{
    font-size: 80px;
    line-height: 95px;
    padding-bottom: 22px;
    border-bottom: 2px solid #000;
    margin-bottom: 48px;
}
.infomation img{
    margin-bottom: 48px;
}
.infomation ul{
    font-size: 24px;
}
.infomation ul:nth-of-type(1){
    margin-bottom: 64px;
}
.education li:nth-of-type(1){
    margin-bottom: 16px;
}
.skill-inside{
    width: 996px;
    padding: 24px 0px 40px 0px;
    color: #ffffff;
}
.skill-inside h2{
    padding-bottom: 7px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 40px;
}
.skill-inside ul{
    margin: 0 auto;
    border-left: 1px solid #96A9C4;
    width: fit-content;
}
.skill-inside ul li{
    font-size: 24px;
    margin-bottom: 8px;
    padding-left: 23px;
}
.skill-inside ul li:nth-of-type(7){
    margin-bottom: 0px;
}
.experience{
    padding: 64px 0px 80px 0px;
}
.experience ul{
    margin-left: 24px;
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
}
.experience h3{
    font-size: 24px;
    font-weight: bold;
}
.experience p{
    font-size: 20px;
    line-height: 30px;
    max-width: 642px;
    font-weight: bold;
}
.contact-us{
    padding: 24px 0px 40px 0px;
    color: #ffffff;
}
.contact-us h2{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 7px;
    margin-bottom: 24px;
}
.contact-us ul li a{
    font-size: 24px;
    color: #ffffff;
}
.contact-us ul li a:hover{
    text-decoration: underline;
}
.contact-us ul li a:active{
    color: #ff3600;
}
.contact-us ul{
    text-align: center;
}
.community li a:hover{
    opacity: 0.7;
}
.community li a:active{
    opacity: 0.9;
}
.contact-us > ul > li:not(:last-child){
    margin-bottom: 16px;
}
.contact-us .community li{
    display: inline-block;
    margin-bottom: 0;
}
.community li:nth-of-type(2){
    margin: 0px 24px;
}

